/* import compass reset */
@import "compass/reset.scss";
/* import compass variables for css3 */
@import "compass/css3";
/* import fonts */
@import "fonts";
/* sÑss variables */
$mainColor: #000;
$fontBold: 'Pragmatica', sans-serif;
$fontLight: 'PragmaticaLightC', sans-serif;
$fontSize:15px;
/* webkit optimization */
body {-webkit-text-size-adjust:100%;}
input[type=submit],
input[type=text],
input[type=password],
input[type=file],
textarea{-webkit-appearance:none;}
input[type="image"]{
  padding:0;
  border:none;
}
body {
  font:$fontSize Arial, Helvetica, sans-serif;
  line-height:1.3;
  margin:0;
  background:#fff;
  color:$mainColor;
  min-width: 1020px;
}
a {
  color:#0066a1;
  text-decoration: none;
}
a:hover {text-decoration: underline;}
img {
  border: none;
  max-width: 100%;
}
form,
fieldset {
  margin:0;
  padding:0;
  border-style:none;
}
input, textarea, select {
  font:100% "Lucida Grande", arial, sans-serif;
  vertical-align:middle;
  color:#000;
}
label {vertical-align:middle;}
input:focus {
  outline:none;
}
strong {
  font-weight: bold;
}
input,
textarea,
input[type="text"]:focus {
  outline:none;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}
.box-wrapper {
  width: 1000px;
  padding: 0 10px;
  @include box-sizing(border-box);
  margin:0 auto;
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}
.tab-list:after,
.holder:after,
.form-row:after {
  display: block;
  clear: both;
  content: '';
}
h1, h2, h3 {
  font:33px $fontBold, Arial, Helvetica, sans-serif;
  margin:0;
  color: $mainColor;
  text-align: left;
  line-height:1.1;
}
h3 {
  font-size: 25px;
  margin-bottom: 5px;
}
h1 {
  font-size: 28px;
  text-transform: uppercase;
}
.wrapper {
  width:100%;
  overflow: hidden;
}
.text-small {
  color: #7a7a7a;
  font-size: 18px;
  line-height:1.2;
}
.action-btn {
  color: #5b5b5b;
  text-decoration: none;
  border:1px solid #5b5b5b;
  text-align: center;
  width: 168px;
  height: 26px;
  line-height: 26px;
  display: inline-block;
  vertical-align: top;
  &:hover {
    text-decoration: none;
  }
}
.mark-list {
  li {
    font-size: 13px;
    line-height: 20px;
    position: relative;
    padding-left: 16px;
    &:before {
      width: 6px;
      height: 6px;
      @include border-radius(50%);
      background: #747474;
      position: absolute;
      left: 0;
      top:6px;
      content: '';
    }
  }
}
.active-tab {
  .action-btn {
    border-color: #fff;
    color: #fff;
    &:hover {
      background: #fff;
      color: #0066a1;
    }
  }
  .mark-list li:before {
    background: #fff;
  }
}
#header {
  height: 395px;
  background:#000 url(../images/bg-racing-vision-header.jpg) center top no-repeat;
  padding:30px 0;
  @include box-sizing(border-box);
  color: #fff;
  .logo {
    float: left;
    margin:0 0 124px;
    img {
      display: block;
    }
  }
  h1 {
    width:100%;
    float: right;
    text-align: right;
    color: #fff;
  }
}
.xtreme-wrapper #header {
  background-image: url(../images/bg-extreme-vision-header.jpg);
}
.xtreme-wrapper .tab-list li {
  &:first-child .holder:before {
    display: none;
  }
  &:last-child .holder:before {
    display: block;
  }
}
.tab-list li.active-tab .holder:before {
  border-color: #0066a1 transparent transparent transparent;
}
.tab-list {
  background: #e5e5e5;
  color: #747474;
  position: relative;
  z-index:2;
  >li {
    position: relative;
    @include box-sizing(border-box);
    background: #e5e5e5;
    float: left;
    width:50%;
    .holder {
      @include box-sizing(border-box);
      width: 500px;
      float: left;
      position: relative;
      padding:35px 0 23px 0;
      &:before {
        bottom:-42px;
        left: 0;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-style: solid;
        border-width: 42px 250px 0 250px;
        border-color: #e5e5e5 transparent transparent transparent;
        display: none;
      }
    }
    &:first-child .holder:before {
      display: block;
    }
    .text {
      width: 288px;
      min-height: 220px;
      padding:0 0 30px;
      float: right;
      position: relative;
    }
    .action-btn {
      position: absolute;
      bottom: 0;
      left: 0;
    }
    h3 {
      color: #747474;
      margin-bottom: 15px;
    }
    &:first-child {
      .holder {
        float: right;
        padding-left: 180px;
      }
      .text {
        width: 210px;
        float: none;
      }
    }
    .img-holder {
      position: absolute;
      left: 10px;
      bottom: 23px;
      width: 224px;
      height: 250px;
      content: '';
      &.racing {
        left:-57px;
        background:url(../images/img-racing-vision-monochrome.jpg) no-repeat;
      }
      &.xtreme {
        width: 195px;
        height: 240px;
        background:url(../images/img-xtreme-vision-monochrome.jpg) no-repeat;
      }
    }
    &.active-tab {
      background: #0066a1;
      color: #ffffff;
      h3 {
        color: #fff;
      }
      .img-holder.racing {
        left:-57px;
        background:url(../images/img-racing-vision-color.jpg) no-repeat;
      }
      .img-holder.xtreme {
        width: 195px;
        height: 240px;
        background:url(../images/img-xtreme-vision-color.jpg) no-repeat;
      }
    }
  }
}
.link-racing,
.link-xtreme {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index:10;
}
.tab-content-box {
  color: #fff;
  height: 302px;
  background:#000;
  position: relative;
  overflow: hidden;
  h2 {
    color: #fff;
    margin-bottom: 14px;
  }
  .img-holder {
    position: absolute;
    left:50%;
    top: 0;
    bottom: 0;
    width:720px;
    background:url(../images/bg-middle-racing-vision.jpg) no-repeat;
  }
  .text {
    width:440px;
    padding:50px 0 0;
    text-align: left;
    float: left;
  }
}
.box-wrapper-xtreme {
  display: none;
}
.xtreme-wrapper {
  .box-wrapper-default {
    display: none;
  }
  .box-wrapper-xtreme {
    display: block;
  }
}
.xtreme-wrapper .tab-content-box {
  height: 404px;
  .text {
    float: right;
    width: 50%;
    @include box-sizing(border-box);
    padding:108px 20px 0 10px;
    position: relative;
    z-index: 1;
  }
  .img-holder {
    width: 1166px;
    height: 404px;
    top: 0;
    bottom: 0;
    background:url(../images/bg-middle-xtreme-vision.jpg) no-repeat;
    left: 50%;
    margin-left: -975px;
  }
}
.promo-box {
  padding:40px 0 30px;
  .heading {
    margin:0 0 32px;
    img, .text {
      display: inline-block;
      vertical-align: middle;
    }
    .text {
      width: 850px;
    }
    img {
      width: 85px;
      height: 85px;
      margin:0 30px 0 0;
    }
  }
  .img-list {
    overflow: hidden;
    li {
      width:50%;
      float: left;
      @include box-sizing(border-box);
      padding:0 0 0 5px;
      img {
        display: block;
        width:100%;
        height: 260px;
      }
      &:first-child {
        padding:0 5px 0 0;
      }
    }
  }
}
#footer {
  height: 574px;
  background:#000 url(../images/bg-racing-vision-footer.jpg) center top no-repeat;
  padding:100px 0;
  @include box-sizing(border-box);
  @include background-size(cover);
  color: #fff;
  text-align: right;
  font:20px $fontLight, Arial, Helvetica, sans-serif;
  h2 {
    color: #fff;
    text-align: right;
  }
  .text {
    float: right;
    text-align: left;
    width: 338px;
  }
}
.xtreme-wrapper #footer {
  height: 433px;
  background-image: url(../images/img-extreme-vision-footer.jpg);
  font-size: 16px;
  h2 {
    margin-bottom: 10px;
    font-size: 28px;
    text-align: left;
  }
}