/* import compass reset */
@import "compass/reset.scss";
/* import compass variables for css3 */
@import "compass/css3";
/* import fonts */
@import "fonts";
/* sÑss variables */
$mainColor: #000;
$pinkColor: #b81e71;
$pinkDarkColor: #de1e85;
$fontExtrabld: 'Proxima Nova Extrabld', sans-serif;
$fontBold: 'Proxima Nova Bold', sans-serif;
$fontSemibold: 'Proxima Nova Semibold', sans-serif;
$fontSize:34px;
/* webkit optimization */
body {-webkit-text-size-adjust:100%;}
input[type=submit],
input[type=text],
input[type=password],
input[type=file],
textarea{-webkit-appearance:none;}
input[type="image"]{
  padding:0;
  border:none;
}
body {
  font:$fontSize $fontSemibold, Arial, Helvetica, sans-serif;
  line-height:1.2;
  margin:0;
  background:#fff;
  color:$mainColor;
  min-width: 1046px;
}
a {
  color:#137fb7;
  text-decoration: none;
}
a:hover {text-decoration: underline;}
img {
  border: none;
  max-width: 100%;
}
form,
fieldset {
  margin:0;
  padding:0;
  border-style:none;
}
input, textarea, select {
  font:100% "Lucida Grande", arial, sans-serif;
  vertical-align:middle;
  color:#000;
}
label {vertical-align:middle;}
input:focus {
  outline:none;
}
strong {
  font-weight: bold;
}
input,
textarea,
input[type="text"]:focus {
  outline:none;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}
.box-wrapper {
  width: 1026px;
  padding: 0 10px;
  @include box-sizing(border-box);
  margin:0 auto;
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}
.wrapper:after,
.holder:after,
.row:after {
  display: block;
  clear: both;
  content: '';
}
h1, h2 {
  font:$fontSize+23px $fontExtrabld, Arial, Helvetica, sans-serif;
  margin:0;
  color: $mainColor;
  text-transform: uppercase;
}
h2 {
  font-size:$fontSize+4px;
  margin:0 0 15px;
  text-align: center;
}
h3 {
  font:$fontSize+8px $fontBold, Arial, Helvetica, sans-serif;
  color: $mainColor;
  margin:0;
  text-transform: uppercase;
}
.text-small {
  color: #7a7a7a;
  font-size: 18px;
  line-height:1.2;
}
#header {
  height: 742px;
  background: url(../images/bg-header.jpg) 50% top;
  @include background-size(cover);
  padding:77px 0 0;
  @include box-sizing(border-box);
  text-align: center;
  color: #fff;
  margin:0 0 15px;
  .logo {
    margin:0 0 95px;
    float: left;
    img {
      display: block;
      width: 341px;
    }
  }
  h1 {
    float: right;
    width:50%;
    text-align: left;
    padding: 140px 0 0;
    line-height: 1;
  }
}
.prormo-box {
  text-align: center;
  .present-box {
    background: #fd3f3f;
    @include border-radius(50px);
    @include box-sizing(border-box);
    padding:28px 55px;
    width:1006px;
    margin:90px 20px 45px 0;
    height: 175px;
    position: relative;
    .decor01, .decor02 {
      position: absolute;
      display: block;
      right: 50px;
      top: -76px;
    }
    .decor01 {
      width: 151px;
    }
    .decor02 {
      bottom: 0;
      width: 40px;
      right: -18px;
      top:auto;
    }
    ul {
      font-size: 0;
      text-align: center;
      overflow: hidden;
      h3 {
        line-height: 1;
        margin:0 0 3px;
        text-align: left;
        color: #fff;
      }
      li {
        color: #fff;
        text-align: left;
        float: left;
        width: 56%;
        @include box-sizing(border-box);
        padding:0 0 0 80px;
        border-left:8px solid #fff;
        span {
          font-size: 30px;
        }
        &:first-child {
          border: none;
          width:44%;
          padding: 0;
        }
      }
    }
  }
}
.box-holder {
  margin:0 0 40px;
  &:after {
    display: block;
    content: '';
    clear: both;
  }
  .decor-blue-box {
    float: right;
  }
}
.decor-blue-box {
  background: #178efe;
  @include border-radius(50px);
  @include box-sizing(border-box);
  padding:30px 140px 30px 50px;
  margin:0 20px 0 0;
  height: 148px;
  width: 780px;
  position: relative;
  color: #fff;
  text-align: left;
  p {
    margin: 0;
  }
  .decor03 {
    bottom: 0;
    width: 40px;
    right: -18px;
    position: absolute;
  }
}
.form-row {
  margin:0 0 30px;
  position: relative;
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}
input[type="submit"] {
  min-width: 179px;
  height: 66px;
  @include box-sizing(border-box);
  color: #fff !important;
  border: none;
  outline: none;
  cursor: pointer;
}
.pink-btn {
  text-decoration: none;
  display: block;
  text-align: center;
  color: #fff;
  background: $pinkColor;
  @include border-radius(24px);
  margin:0 auto;
  font:21px $fontSemibold, Arial, Helvetica, sans-serif;
  @include box-shadow(0 9px 10px rgba(0, 0, 0, 0.1));
  text-transform: uppercase;
  &:hover {
    @include box-shadow(0 9px 10px rgba(0, 0, 0, 0.4));
    background: $pinkDarkColor;
    text-decoration: none;
  }
}
.wide-btn {
  height: auto;
  width:468px;
  padding:12px 0;
  line-height:1.3;
  display: inline-block;
  margin:0 auto;
  strong {
    font-family:$fontBold !important;
  }
}
.text-input,
input[type="text"],
input[type="email"] {
  @include border-radius(24px);
  @include box-sizing(border-box);
  font:30px $fontSemibold, Arial, Helvetica, sans-serif;
  @include box-shadow(0 9px 10px rgba(0, 0, 0, 0.1));
  color: #666;
  float: left;
  width:100%;
  height: 66px;
  padding:15px 25px;
  line-height: 36px;
  background: #f7f6f4;
  border: none;
  outline: none;
  &:focus {
    @include box-shadow(0 9px 10px rgba(0, 0, 0, 0.4));
    background: #fff;
  }
  &.error {
    border-color: red;
  }
}
.form-row {
  position: relative;
}
input[type="checkbox"] {
  display: none;
  +label {
    padding:0 0 0 56px;
    display: block;
    text-align: left;
    &:before {
      cursor: pointer;
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      height: 42px;
      width: 42px;
      margin: 0 12px 0 0;
      background: #fff;
      @include box-shadow(0 9px 10px rgba(0, 0, 0, 0.1));
    }
  }
  &:checked + label::before {
    background:#fff url(../images/ico-check.gif) 50% 50% no-repeat;
  }
}
#email-form {
  margin:0 0 30px;
  .pink-btn {
    float: right;
  }
  .text-input {
    float: left;
    width: 812px;
  }
  .form-box {
    &:first-child {
      margin:0 0 14px;
    }
  }
}
.social-box-holder {
  overflow: hidden;
  .ya-share2 {
    float: left !important;
  }
}
.ya-share2__container_size_m .ya-share2__item {
  margin:0 20px 20px 0 !important;
  float: left !important;
}
.social-network-list {
  overflow: hidden;
  margin: 0 0 55px;
  float: left;
  li {
    float: left;
    margin:0 20px 20px 0;
    &:hover {
      opacity: 0.9;
    }
  }
}
.ya-share2__link,
.ico-social {
  text-decoration: none !important;
  display: block !important;
  width: 79px !important;
  height: 79px !important;
  background: url(../images/social-ico-sprite.png) !important;
  &.ico-inst {
    background-position: -600px 0 !important;
  }
  &.ico-yt {
    background-position: -700px 0 !important;
  }
  &.ico-f {
    background-position: -801px 0 !important;
  }
}
.ya-share2__item_service_vkontakte a {
  background-position: 0 0 !important;
}
.ya-share2__item_service_facebook a {
  background-position: -99px 0 !important;
}
.ya-share2__item_service_odnoklassniki a {
  background-position: -198px 0 !important;
}
.ya-share2__item_service_moimir a {
  background-position: -493px 0 !important;
}
.ya-share2__item_service_gplus  a {
  background-position: -297px 0 !important;
}
.ya-share2__item_service_twitter a {
  background-position: -396px 0 !important;
}
.ya-share2 .ya-share2__icon {
  display: none !important;
}
#footer {
  padding:45px 0 35px;
  text-align: center;
  .text-small {
    padding:0 20px;
    display: block;
  }
}
.popup-box {
  background: rgba(0, 0, 0, 0.35);
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 0;
  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  .popup {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    width: 480px;
    height: 480px;
    @include border-radius(50%);
    background: #fff;
    font-size: 0;
    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
    .popup-holder {
      text-align: right;
      vertical-align: middle;
      display: inline-block;
      width: 360px;
      font-size: 19px;
      .text-small {
        display: block;
        text-align: right;
        font-size: 14px;
      }
      .divider {
        margin-top:30px;
      }
    }
    .blue-box-small {
      display: inline-block;
      background: #178efe;
      @include border-radius(32px);
      @include box-sizing(border-box);
      padding:20px 30px;
      height: 64px;
      line-height:24px;
      font-size: 19px;
      color: #fff;
      text-transform: uppercase;
      margin:0 0 14px;
    }
    .decor-blue-box {
      @include border-radius(25px);
      line-height: 1.25;
      height: 105px;
      font-size: 19px;
      width: 350px;
      margin:0 10px 5px 0;
      padding:15px 20px;
      .decor03 {
        width: 20px;
        right: -9px;
      }
    }
  }
}
.divider {
  background: #d9d9d9;
  height: 2px;
  width:100%;
  display: block;
  margin:12px 0;
}
.popup-box {
  display: none;
}
.btn-close  {
  text-align: center;
  text-decoration: none !important;
  position: absolute;
  top: 20px;
  right: 35px;
  z-index:10;
  color: #7a7a7a;
  font-size: 44px;
  &:hover {
    text-shadow:0 0 5px #fff;
  }
}
.text-input.error {
  margin-bottom: 50px;
}
label.error {
  color: red;
  position: absolute;
  width:100%;
  left:0;
  bottom: 0;
  text-align: left;
}