html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'PFBeauSansPro-SemiBold';
  src: url("../fonts/PFBeauSansPro-SemiBold.woff") format("woff"), url("../fonts/PFBeauSansPro-SeBold.woff2") format("woff2"), url("../fonts/PFBeauSansPro-SemiBold.ttf") format("truetype"), url("../fonts/PFBeauSansPro-SeBold.eot"), url("../fonts/PFBeauSansPro-SeBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PFBeauSansPro-SemiBold.svg#PFBeauSansPro-SemiBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* webkit optimization */
body {
  -webkit-text-size-adjust: 100%;
}

input[type=submit],
input[type=text],
input[type=password],
input[type=file],
textarea {
  -webkit-appearance: none;
}

textarea,
input[type=submit],
input[type=text] {
  -webkit-border-radius: 0;
}

input[type="image"] {
  padding: 0;
  border: none;
}

body {
  font: 16px Arial, Helvetica, sans-serif;
  line-height: 1.3;
  margin: 0;
  background: #fff;
  color: #2f2f2f;
  min-width: 320px;
}

a {
  color: #e51b39;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

img {
  border: none;
}

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input, textarea, select {
  font: 100% "Lucida Grande", arial, sans-serif;
  vertical-align: middle;
  color: #000;
}

label {
  vertical-align: middle;
}

input:focus {
  outline: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

h2 {
  font: 30px "PFBeauSansPro-SemiBold";
  color: #010101;
  margin: 0 0 18px;
}

p {
  margin: 0 0 16px;
}
p.mb6 {
  margin-bottom: 6px;
}
p.mb32 {
  margin-bottom: 30px;
}

.item-list {
  margin: 0 0 30px;
}
.item-list li {
  padding: 0 0 0 25px;
  position: relative;
  margin: 0 0 2px;
}
.item-list li:before {
  position: absolute;
  left: 0;
  top: 11px;
  height: 1px;
  width: 16px;
  background: #2f2f2f;
  content: '';
  display: block;
}

.wrapper {
  padding: 0 10px;
  margin: 0 auto;
  min-width: 300px;
  max-width: 1270px;
}

.content-section {
  border: 1px solid #e5e5e5;
  padding: 40px;
  min-height: 410px;
}

#header {
  padding: 20px 0 30px;
  overflow: hidden;
}

.logo {
  background: url(../images/logo.gif);
  width: 214px;
  height: 24px;
  text-indent: -9999px;
  float: left;
}

input[type="text"],
input[type="password"] {
  border: 1px solid #e5e5e5;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2) inset;
  float: left;
  padding: 5px;
  height: 18px;
  line-height: 18px;
  width: 42%;
  margin: 0 0 0 8px;
  min-width: 230px;
}

input[type="text"].top-negative-margin,
input[type="password"].top-negative-margin {
  margin-top: -4px;
}

input[type="checkbox"] {
  outline: none;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 32px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 15px;
  height: 15px;
  border: 1px solid #e5e5e5;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2) inset;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713';
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  width: 15px;
  text-align: center;
  font-size: 15px;
  line-height: 1;
  font-weight: bold;
  color: #000;
  transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
}

[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}

[type="checkbox"]:disabled + label {
  color: #aaa;
}

/* accessibility */
/* hover style just for information */
label:hover:before {
  border: 1px solid #000 !important;
}

.red-btn {
  background-color: #e85338;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE85338', endColorstr='#FFE40639');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4NTMzOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U0MDYzOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e85338), color-stop(100%, #e40639));
  background-image: -moz-linear-gradient(top, #e85338 0%, #e40639 100%);
  background-image: -webkit-linear-gradient(top, #e85338 0%, #e40639 100%);
  background-image: linear-gradient(to bottom, #e85338 0%, #e40639 100%);
  display: inline-block;
  height: 35px;
  line-height: 35px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 0 22px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  margin: 0 10px 0 0;
}
.red-btn:hover {
  background-color: #e40639;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE40639', endColorstr='#FFE85338');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0MDYzOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U4NTMzOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e40639), color-stop(100%, #e85338));
  background-image: -moz-linear-gradient(top, #e40639 0%, #e85338 100%);
  background-image: -webkit-linear-gradient(top, #e40639 0%, #e85338 100%);
  background-image: linear-gradient(to bottom, #e40639 0%, #e85338 100%);
}

form .row {
  margin: 0 0 15px;
}
form .row:after {
  display: block;
  clear: both;
  content: '';
}
form .row input[type="checkbox"],
form .row label {
  float: left;
}
form .row input[type="submit"] {
  float: left;
  margin: 0 12px 12px 0;
}

.btn {
  border: 1px solid #e5e5e5;
  padding: 0 17px;
  height: 33px;
  line-height: 33px;
  color: #2f2f2f;
  text-decoration: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
}
.btn:hover {
  border-color: #e51b39;
  color: #e51b39;
}

.round {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 17px;
  text-align: center;
  border: 1px solid #a2a2a2;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #a2a2a2;
  font-size: 11px;
  margin: 0 0 0 3px;
  position: relative;
}
.round span {
  position: absolute;
  width: 215px;
  top: 23px;
  left: 50%;
  margin: 0 0 0 -116px;
  background: #fff;
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
  text-align: left;
  color: #2f2f2f;
  z-index: 2;
  display: none;
}
.round span:after, .round span:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.round span:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 8px;
  margin-left: -8px;
}
.round span:before {
  border-color: rgba(162, 162, 162, 0);
  border-bottom-color: #a2a2a2;
  border-width: 9px;
  margin-left: -9px;
}
.round:hover > span {
  display: block;
}

@media only screen and (max-width: 550px), only screen and (max-device-width: 550px) {
  .round span {
    left: auto;
    right: -9px;
    margin-left: 0;
  }

  .round span:after, .round span:before {
    left: 93%;
  }
}
@media only screen and (max-width: 500px), only screen and (max-device-width: 500px) {
  input[type="text"].top-negative-margin,
  input[type="password"].top-negative-margin {
    margin: 4px 0 0 28px;
  }
}
@media only screen and (max-width: 450px), only screen and (max-device-width: 450px) {
  .content-section {
    padding: 15px;
  }
}
@media only screen and (max-width: 390px), only screen and (max-device-width: 390px) {
  .btn {
    font-size: 13px;
    padding: 0 10px;
  }
}
@media only screen and (max-width: 360px), only screen and (max-device-width: 360px) {
  .round span {
    left: 50%;
    right: auto;
    margin-left: -116px;
  }

  .round span:after, .round span:before {
    left: 50%;
  }
}
